<link rel="stylesheet" href="/css/footer.css">
<footer>
    <article>
        <div class="floor">
                 <!-- footer S -->



<div class="foot">
<div class="footer_wrap">
    <div class="layout_width">

        <div class="foot-info info1">
            <p>
                ㈜Fly & Go | 포트폴리오 : 정아현 | 연락처:010-2046-7241                        <br>
                 
                통신판매업 등록번호 : 2016-영종도-0229
                <br>
                
                인천광역시 중구 영종대로 196번길 19 개인정보관리 책임자 : 정아현
            </p>



            <p class="link">
                SGI서울보증안내
                <a href="#">
                    서비스 가입 사실 확인증 보기
                    <i class="xi-angle-right-min"></i>
                </a>
            </p>


            <p class="imp">
                고객님께서 안전거래를 위해 현금 등으로 결제하신 경우,
                <br>
                 
                저희 여행사에서 가입한 소비자피해보상보험 서비스를 이용하실 수 있습니다. 
                <br>

            </p>


            <p class="copyright">
                COPYRIGHT(c) LS NETWORKS CO. ALL RIGHTS RESERVED. 
            </p>
        </div>






        <div class="foot-info info2">
            <dl>
                <dt>INFORMATION</dt>
                <dd> <a href="#">고객센터</a> </dd>
                <dd> <a href="#">A/S안내</a> </dd>
                <dd> <a href="#">1:1문의</a> </dd>
                <dd> <a href="#">매장안내</a> </dd>
                <dd> <a href="#">이용약관</a> </dd>
                <dd> <a href="#"> <span> 개인정보처리방침 </span> </a> </dd>
                <dd> <a href="#">파트너사</a> </dd>
                <dd> <a href="#">공지사항</a> </dd>

            </dl>
        </div>





        <div class="foot-info info3">
            <dl>
                <dt>CONTACT US</dt>
                <dd>
                    <span>여행상담 문의</span>
                    
                    080-710-1020
                </dd>

                <dd>
                    <span>상품정보 / 불편사항</span>
                     
                    080-023-1020
                </dd>

                
                
                <dd>
                    MON-FRI 09:00 - 18:00
                    <br>
                     
                    (주말, 공휴일 휴무)
                    <br>
                    
                    BREAK TIME : 12:30 - 13:30
                </dd>



            </dl>
        </div>






    


      

    </div>
</div>
</div>


<!-- footer E -->
        </div>
    </article>
</footer>
