<footer>
	<section class='layout_width inner'>
		 <article class="foot-info info1">
			<p>
				㈜Fly & Go | 포트폴리오 : 정아현 | 연락처:010-2046-7241<br>
				통신판매업 등록번호 : 2016-영종도-0229<br>    
				인천광역시 중구 영종대로 196번길 19 개인정보관리 책임자 : 정아현
			 </p>



			<p class="link">
				SGI서울보증안내
				<a href="#">
					서비스 가입 사실 확인증 보기
				   <i class="xi-angle-right-min"></i>
			   </a>
			</p>


			<p class="imp">
			   고객님께서 안전거래를 위해 현금 등으로 결제하신 경우,
			   <br>
					 
				저희 여행사에서 가입한 소비자피해보상보험 서비스를 이용하실 수 있습니다. 
			   <br>
			</p>


			 <p class="copyright">
				COPYRIGHT(c) LS NETWORKS CO. ALL RIGHTS RESERVED. 
			 </p>
		 </article>

		 <article class="foot-info info2">
			<div class='tit'>INFORMATION</div>
			<ul>
				<li><a href="#">고객센터</a></li>
				<li> <a href="#">A/S안내</a> </li>
				<li> <a href="#">1:1문의</a> </li>
				<li> <a href="#">매장안내</a> </li>
				<li> <a href="#">이용약관</a> </li>
				<li> <a href="#" class='highlight'>개인정보처리방침</a></li>
				<li> <a href="#">파트너사</a> </li>
				<li><a href="#">공지사항</a> </li>
			</ul>
		</article>

		 <article class="foot-info info3">
				<dl>
					<dt>CONTACT US</dt>
					<dd>
						<div class='cs_info'>
							<div class='highlight'>여행상담 문의</div>
							
							080-710-1020
						</div>
						<div class='cs_info'>
							<div class='highlight'>상품정보 / 불편사항</div>
						 
							080-023-1020
						</div>
						
						<div class='cs_info'>
							MON-FRI 09:00 - 18:00<br>							 
							(주말, 공휴일 휴무)<br>							
							BREAK TIME : 12:30 - 13:30
						</div>
					</dd>



				</dl>
		 </article>
	 </section>
</footer>
