/** 공통 */ 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
*{ font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; outline: none; }
html { font-size: 13px; color: #000000; }
body { padding:0; margin: 0; }
a { text-decoration: none; color: #000000; }
ul { padding: 0; margin: 0; list-style: none; }
p, dl, dt, dd { padding: 0; margin: 0; }
.dn { display: none !important; }

input[type='text'], 
input[type='password'], 
input[type='number'],
input[type='email'],
select { border: 1px solid #d5d5d5; height: 45px; padding: 0 10px; border-radius: 5px; width: 100%; }
textarea { border: 1px solid #d5d5d5; padding: 10px; resize: none; min-height: 150px; width: 100%; border-radius: 5px; }


#main_wrap { padding: 15px; }

/* 여백 */
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }

/* 테이블 공통 */
.table_cols { border-spacing: 0; padding:0;  width: 100%; }
.table_cols th { background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; padding: 7px 10px; width: 120px; }
.table_cols td { border-bottom: 1px solid #d5d5d5; padding: 7px 10px; }
.table_cols tr:first-child th, .table_cols tr:first-child td { border-top: 1px solid #d5d5d5; }

.table_rows { border-spacing: 0; padding: 0; width: 100%; }
.table_rows th { background-color: #f8f8f8; border: 1px solid #d5d5d5; border-left: 0; border-right: 0; padding: 10px; }
.table_rows td { padding: 10px; border-bottom: 1px solid #d5d5d5; }

/* 버튼 공통 */
.submit_btn { background-color: blue; color: #ffffff; height: 45px; width: 250px; border-radius: 7px; border: 0; cursor: pointer; display: block; margin: 20px auto; }
.btn1, .btn2 { background-color: blue; color: #ffffff; font-size: 11px; padding: 3px 10px; border-radius: 7px; cursor: pointer; border: 0; }
.btn2 { background-color: red; }

/* 메인 타이틀 */
#main_wrap .main_title { font-size: 15px; border-bottom: 1px solid #d5d5d5; padding-bottom: 10px; margin-bottom: 20px; font-weight: 500; margin-top: 0; }

/* 서브 타이틀 */
#main_wrap .sub_title { font-size: 14px; font-weight: bold; margin-bottom: 10px; }



/** 팝업 공통 */
.popup_tit { font-size: 17px; font-weight: bold; padding-bottom: 15px; margin-bottom: 20px; border-bottom: 1px solid #212121; }

/** 업로드 이미지 thumb */
.uploaded_images .images { display: inline-block; width: 50px; height: 50px; border: 1px solid #212121; position: relative; margin: 2px; }
.uploaded_images .images div { width: 48px; height: 48px; }
.uploaded_images .remove { position: absolute; top: 0; right: 0; z-index: 10; padding: 3px; background-color: #212121; color: #ffffff !important; cursor: pointer;  }



/* outline/header/_main.html */
header .top_menu > li { float: left;  }
header .top_menu:after { clear: left; content: ''; display: block; }
header .top_menu { background-color: #d5d5d5; padding: 0 10px; }
header .top_menu > li a { display: block; height: 45px; line-height: 45px; font-size: 15px; font-weight: bold; padding: 0 20px; color: #212121; }
header .top_menu > li a:hover, header .top_menu > li.on a { background-color: orange; }