@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');


header{
    display: flex;
    flex-direction: row;
    
}


h1{
    color: white;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 3rem;
}

.xi-flight-takeoff{
    padding: 100px 20px 0 10px;
    color:white;
    font-size: 46px;

}