{% extends '../layout.html' %}

{% block content %}
<section class='login_form'>
	<div class='tit'>LOGIN</div>
	<form action="/member/login" method="post" autocomplete='off'>
		<dl>
			<dt>ID</dt>
			<dd><input type="text" name="memId" placeholder="아이디를 입력하세요"></dd>
		</dl>
		<dl>
			<dt>PASSWORD</dt>
			<dd><input type="password" name="memPw" placeholder="비밀번호를 입력하세요"></dd>
		</dl>
		<div class='links'>
			<a href='/member/find_id'>아이디 찾기</a>
			<a href='/member/find_pw'>비밀번호 찾기</a>
		</div>
		<input type="submit" value="Login" class='submit_btn'>
	</form>
</section>
{% endblock %}



