<nav>
    {% if mainMenu %}
    <ul id="main-menu">
    {% for item in mainMenu %} 
        <li>
            <a href='{{ item.url }}'>{{ item.menu }}</a>
            {% if item.subMenu %}
            <ul class="sub-menu">
            {% for sub in item.subMenu %}
                <li>
                    <a href='{{ sub.url }}'>{{ sub.menu }}</a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</nav>