{% extends '../layout.html' %}
{% block content %}
<main>
        <section>
            <article class="main_banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide banner"></div>
                      <div class="swiper-slide banner"></div>
                      <div class="swiper-slide banner"></div>
                      <div class="swiper-slide banner"></div>
                    </div> 
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                
                </div>     
            </article>
        </section>





        <section>
            <article class="layout_width">
                <div class="cust_area">
                    <h2>Fly & Go 인기 상품</h2>
                    <ul class='container'>
						{% if mainGoods.length > 0 %}
						{% for item in mainGoods %}
                        <li class="cust">
                            <a href="/travel/{{ item.goodsCd }}">
								{% if item.listImages.length > 0 %}
                                <span class="imgFrm">
                                    <img src="{{ item.listImages[0].fileUrl }}" alt="{{ item.goodsNm }}">
                                </span>
								{% endif %}
                                <div class="list_info">
                                    <h5 class="list_block">{{ item.goodsNm }}</h5>
                                    <br>
                                    <span class="list_price">
                                        <em>
                                            <strong>{{ item.priceAdult.toLocaleString() }}</strong>
                                            원~
                                        </em>
                                    </span>
                                </div>
                            </a>
                        </li>
						{% endfor %}
						{% endif %}
                    </ul>
                </div>
            </article>

            <article class="layout_width">
                <div class="welcome">
                    <a href="/member/login">
                        <img src="image/welcome3.png" alt="">
                    </a>
                </div>
            </article>
        </section>





        <section>
            <article id="news">
                <div class="cust_area">
                    <h2>World News</h2>
                <!-- Thumbnails -->
                    <div class="thumbnails layout_width">
                        <div>
                            <a href="#">
                                <img src="image/01.jpg" alt="" />
                                <h3>Lorem ipsum dolor sit amet</h3>
                            </a>
                            <a href="#">
                                <img src="image/02.jpg" alt="" />
                                <h3>Lorem ipsum dolor sit amet</h3>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="image/03.jpg" alt="" />
                                <h3>Lorem ipsum dolor sit amet</h3>
                            </a>
                            <a href="#g">
                                <img src="image/04.jpg" alt="" />
                                <h3>Lorem ipsum dolor sit amet</h3>
                            </a>
                            <a href="#">
                                <img src="image/05.jpg" alt="" />
                                <h3>Lorem ipsum dolor sit amet</h3>
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="image/06.jpg" alt="" />
                                <h3>Lorem ipsum dolor sit amet</h3>
                            </a>
                            <a href="#">
                                <img src="image/07.jpg" alt="" />
                                <h3>Lorem ipsum dolor sit amet</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </section>


        
</main>


{% endblock %}