{% extends '../layout.html' %}
{% block content %}
<main>
        <section>
            <article class="main_banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide banner"></div>
                      <div class="swiper-slide banner"></div>
                      <div class="swiper-slide banner"></div>
                      <div class="swiper-slide banner"></div>
                    </div> 
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                
                </div>     
            </article>
        </section>

        <section>
            <article class="layout_width">
                <div class="cust_area">
                    <h2>Fly & Go 인기 상품</h2>
                    <ul class=container>
                        <li class="cust">
                            <a href="#">
                                <span>
                                    <img src="image/pic.jpg" alt="112">
                                </span>
                                <div class="list_info">
                                    <h5 class="list_block">얼음동굴 4일 패키지</h5>
                                    <span class="list_price">
                                        <em>
                                            <strong>190,0000</strong>
                                            원~
                                        </em>
                                    </span>
                                </div>
                            </a>
                        </li>


                        <li class="cust">
                            <a href="#">
                                <span>
                                    <img src="image/pic10.jpg" alt="111">
                                </span>
                                <div class="list_info">
                                    <h5 class="list_block">여행2</h5>
                                    <span class="list_price">
                                        <em>
                                            <strong>190,0000</strong>
                                            원~
                                        </em>
                                    </span>
                                </div>
                            </a>
                        </li>



                        <li class="cust">
                            <a href="#">
                                <span>
                                    <img src="image/pic9.jpg" alt="111">
                                </span>
                                <div class="list_info">
                                    <h5 class="list_block">여행3</h5>
                                    <span class="list_price">
                                        <em>
                                            <strong>190,0000</strong>
                                            원~
                                        </em>
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
</main>


{% endblock %}