<!-- Default 댓글 -->
<div class='board_default comment'>
	{% if config.accessType == 'member' and not isLogin %}
	<div class='comment_member_only'>
		@댓글을 작성하시려면 로그인을 해 주세요.
	</div>
	{% else %}
	<div class='comment_form'>
		<form method='post' action='/board/comment' target='ifrmHidden' autocomplete='off'>
			<input type='hidden' name='idxBoard' value='{{ idx }}'>
			<div class='box1'>
				작성자 <input type='text' name='poster' value='{% if isLogin %}{{ member.memNm }}{% endif %}'>
				{% if not isLogin %}
				비밀번호 <input type='password' name='password'>
				{% endif %}
			</div>
			<div class='box2'>
				<textarea name='comment' placeholder='댓글을 입력하세요.'></textarea>
				<input type='submit' value='댓글 등록' class='comment_btn'>
			</div>
		</form>
	</div>
	<!--// comment_form -->
	{% endif %}
	
	{% if comments.length > 0 %}
	<ul class='comment_list'>
		{% for item in comments %}
		<li class='comment' id='comment_{{ item.idx }}' data-idx='{{ item.idx }}'>
			<div class='top_box'>
				<div class='poster_info'>
					{{ item.poster }}{% if item.memId %}({{ item.memId }}){% endif %}	
					/ {{ item.regDt }}
				</div>
				<div class='controls'>
					<span class='sbtn1 update'>수정</span>
					<a href='/board/comment/delete/{{ item.idx }}' class='sbtn2' onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
				</div>
			</div>
			<!--// top_box -->
			<div class='cont'>
				{{ item.commentHtml | safe }}
			</div>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
<!--// board_default -->