{% extends '../layout.html' %}
{% block content %}
<div class='board_default password'>
<div class='password_wrap'>
	<div class='tit'>비밀번호 확인</div>
	<form method='post' action="/board/password/{{ idx }}" target='ifrmHidden' autocomplete='off'>
		<input type='hidden' name='idx' value='{{ idx }}'>
		<input type='hidden' name='mode' value='{{ mode }}'>
		<input type='hidden' name='type' value='{{ type }}'>
	
		<input type='password' name='password' placeholder='게시글 수정, 삭제 비밀번호'>
		
		<input type='submit' value='확인하기' class='submit_btn'>
	</form>
</div>
<!--// password_wrap -->
</div>
<!--// board_default -->
{% endblock %}